:root {
  --c-primary-font: #302929;
  --c-secondary-font: #000;
  --c-primary: #b0cc0d;
  --c-secondary: #ffa800;
  --c-white: #fff;
  --c-dark-green: #8ec038;
  --c-gray: #d9d9d9;
  --c-gray-fast: #6a6a6a;
  --c-border: #a2d0ab;
  --c-card-d: #f4f4f4;
}
