.footer {
  padding: 59px 0 28px;
  background-color: var(--c-primary);

  position: relative;

  z-index: 1;

  &__container {
    .footer-head {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 33px;
      padding-right: 200px;

      &__logo {
        img {
          margin-bottom: 39px;
        }
        ul {
          display: flex;
          gap: 22px;
          li {
            a {
              i {
                font-size: 22px;
                color: var(--c-white);
              }
            }
          }
        }
      }
      &__menu {
        display: flex;
        gap: 29px;
        .footer-nav {
          li {
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 18px;
            }
            a {
              color: var(--c-white);
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
        .footer-about {
          li {
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 8px;
            }
            a {
              color: var(--c-white);
              font-size: 16px;
              font-weight: 300;
            }
          }
        }
      }
      &__adress {
        ul {
          li {
            display: flex;
            align-items: center;

            &:not(:last-child) {
              margin-bottom: 18px;
            }
            i {
              font-size: 16px;
              margin-right: 19px;
              color: var(--c-white);
            }
            a {
              color: var(--c-white);
              font-size: 16px;
              font-weight: 700;
            }
          }
        }
      }
    }
    .footer-body {
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding-right: 235px;
      &__title {
        h6 {
          color: var(--c-white);
          font-size: 16px;
          font-weight: 300;
        }
      }
      &__after {
        span {
          color: var(--c-white);
          font-size: 10px;
          font-weight: 400;
          line-height: 150%;
        }
      }
      &__developed {
        cursor: pointer;
        display: flex;
        align-items: center;
        span {
          color: var(--c-secondary-font);
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }
}
.footer-wrapper {
  position: relative;
}
.footer-circle {
  position: absolute;

  right: 90px;
  bottom: 20px;

  z-index: 0;
  img {
    width: 471px;
  }
}
.footer-salad {
  bottom: 60px;
  right: 140px;
  z-index: 2;
}
.footer-position {
  position: absolute;
}

@media only screen and (max-width: 1736px) {
  .footer {
    &__container {
      .footer-head {
        padding-right: 0px;
      }
    }
  }
  .footer-circle {
    display: none;
  }
  .footer-salad {
    display: none;
  }
}
