.header__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--c-primary);
  height: 450px;
  border-radius: 55px;
  .wrapper-title {
    position: relative;
    padding-left: 102px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: var(--c-white);
      font-size: 65px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    p {
      color: var(--c-secondary-font);
      font-size: 25px;
      font-weight: 400;
      line-height: 59px;
      margin-bottom: 20px;
    }
    .wrapper-btn {
      width: 202px;
      height: 55px;
      transition: background-color 0.5s ease-out;

      &:hover {
        background-color: var(--c-white);
        color: var(--c-primary);
      }
    }
    .imgs-leaf__2 {
      position: absolute;
      left: -20px;
      bottom: -37px;
    }
  }
  .wrapper-imgs {
    position: relative;
    .imgs-circle {
      top: 34px;
      right: 67px;
      position: absolute;
    }
    .imgs-cook {
      position: absolute;
      top: 35px;
      right: 75px;
    }
    .imgs-peas__1 {
      position: absolute;
      bottom: -71px;
      right: -34px;
    }
    .imgs-leaf__1 {
      position: absolute;
      top: -72px;
      right: 550px;
    }
    .imgs-blade {
      position: absolute;
      bottom: -68px;
      right: 585px;
    }
  }
}

@media only screen and (max-width: 1380px) {
  .header__wrapper {
    .wrapper-title {
      padding-left: 60px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .header__wrapper {
    .wrapper-title {
      padding-left: 30px;
    }
  }
}

@media only screen and (max-width: 1074px) {
  .header__wrapper {
    .wrapper-title {
      h1 {
        font-size: 45px;
        margin-bottom: 5px;
      }
      p {
        color: var(--c-secondary-font);
        font-size: 25px;

        margin-bottom: 1px;
      }
      p {
        font-size: 20px;
        margin-bottom: 20px;
      }
      .wrapper-btn {
        width: 150px;
        height: 55px;
      }
    }
  }
}
@media only screen and (max-width: 980px) {
  .header__wrapper {
    .wrapper-imgs {
      background-color: goldenrod;
      .imgs-cook {
        img {
          width: 450px;
        }
      }
      .imgs-circle {
        img {
          width: 450px;
        }
      }
      .imgs-peas__1 {
        right: -14px;
      }
      .imgs-leaf__1 {
        right: 410px;
      }
      .imgs-blade {
        right: 425px;
      }
    }
  }
}
