.intouch {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  &__left {
    &-img {
      position: relative;
      .inimg {
        top: -42px;
        position: absolute;
      }
      .intomato {
        top: -20px;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 22px;

    &-title {
      max-width: 387px;
      h2 {
        color: var(--c-primary);
        font-size: 64px;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 18px;
      }
      p {
        color: var(--c-secondary-font);
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
      }
    }
    &-form {
      width: 388px;

      .right-form {
        display: flex;
        gap: 13px;
        margin-bottom: 23px;
      }
      .yn {
        margin-bottom: 23px;
      }
      .form-input {
        width: 100%;
        border-radius: 32px;
        background: #f4f4f4;
        padding: 18px 27px;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);

        color: #656565;

        font-size: 16px;

        font-weight: 400;
      }
      .right-btn {
        display: flex;
        gap: 1px;
        .btn {
          width: 202px;
          height: 55px;
          transition: background-color 0.5s ease-out;
          &:hover {
            background-color: var(--c-primary);
          }
        }
        .btn-plane {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 83px;
          background-color: var(--c-primary);
          i {
            font-size: 25px;
          }
          &:hover {
            background-color: var(--c-secondary);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1167px) {
  .intouch {
    justify-content: center;
    &__left {
      display: none;
    }
  }
}
