.category {
  &__content {
    &-fast {
      display: flex;
      justify-content: space-between;
      li {
        &:hover {
          a {
            color: var(--c-white);
            background-color: var(--c-secondary);
            span {
              color: var(--c-white);
            }
          }
        }
        &.active {
          text-decoration: underline;
          color: var(--c-white);
          a {
            background-color: var(--c-primary);
            color: var(--c-white);
            span {
              color: var(--c-white);
            }
          }
        }

        a {
          display: flex;
          flex-direction: column;
          text-align: center;
          color: var(--c-gray-fast);
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 6px 26px;
          border-radius: 10px;
          background-color: var(--c-gray);
          transition: background-color 0.5s ease-out;
          span {
            color: var(--c-gray-fast);
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
